
body {
    font-family: 'Montserrat', sans-serif;
}

/* main styles */

.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
}

.main-content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about styles */

.about{
    margin-bottom: 40px;
}

.about-position{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-descriptoin{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects-titles styles */

.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
    
}

.projects-list{
    padding: 0;
    margin-left: 15px;
}

.projects-items{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects,
.projects-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects-link{
    margin-left: 10px;
}

.projects-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


/* work styles */



.edecation-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.education-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education styles */

.education{
    margin-top: 45px;
    size: 327px 114px;
}

.profession{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* sidebar style */

.sidebar{
    background-color: #1E2939;
    padding-top: 40px;
    width: 400px;
}

/* photo style */

.photo{
    width: 370px ;
    padding-top: 40px;
    margin-bottom: 55px;
}

/* contacts style */

.contacts,
.tech-skills,
.soft-skills{
    margin-left: 40px;
}

.contacts{
    margin-bottom: 50px;
}



/* sidebar-title style */

.sidebar-title{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}


/* contact-type style */

.contact-type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #565E6A;
}

/* tech-skills styles */
    
.tech-skills-list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 19px;
}

.tech-skills-text{
    color: #565F6A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.tech-skills-item{
    color: #FB6D3A;
}

/* soft-sills style*/

.soft-skills-title{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.soft-skills{
    margin-left: 40px;
}

.soft-skills-list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 19px;
}



.soft-skills-text{
    color:#FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-item{
    color: #FB6D3A;
}


